

.body-initial {background-color: rgba(255,255,255,1); position: static;}.silex-id-1657621898613-3 {width: 364px; min-height: 821px; position: absolute; top: -69px; left: 213px;}.silex-id-1657621981356-4 {width: 391px; min-height: 96px; position: absolute; top: 717px; left: 364px;}.silex-id-1657622814428-6 {width: 200px; height: 230px; position: absolute; top: 2px; left: 24px;}@media only screen and (max-width: 480px) {}
.text-element > .silex-element-content {font-family: 'Roboto', sans-serif;}
.website-width {width: 1200px;}@media (min-width: 481px) {.silex-editor {min-width: 1400px;}}body.silex-runtime {opacity: 1;}
